.caja_texto_cards {
  font-size: 15px;
  font-weight: 400;
  color: #6d6e71;
  line-height: 1.5rem;
}

.line_head{
  border-top: 3px solid whitesmoke;
  min-height: 180px;
  padding: .5rem;
}
.container_card_texto{
  font-size: 16px;
  font-weight: 400;
  color: #6d6e71;
  line-height: 1.5rem;
  margin-bottom: 8px;
}
.card_mod{
  border: none;
  border-radius: 12px;
}
.card_mod:hover{
  box-shadow: 0 0 12px 0 #bbb;
  transition: all .4s ease-in-out 0s;
}
.card_mod img.tamaño_imagenes{
  padding: 18px;
}

/* -------------Precio card------------ */
.precio_card{
  min-height: 50px;
}
.precio_card span{
  font-size: 18px;
  color: #565656;
  font-weight: 700;
}

.card_foot_mod{
  border-radius: 0 0 20px 20px !important;
  background-color: white;
  border-top: none;
  display: flex;
  justify-content: center;
  align-items:center;
  padding-bottom: 14px;
}
.card_foot_mod button{
  width: 145px;
  height: 32px;
  border-radius: 23px;
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 25%);
  background-color: #fff;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 700;
  letter-spacing: .4px;
  color: #0071ce;
  border: none;
}
.card_foot_mod button:hover{
  box-shadow: rgb(182 182 182) -1px 2px 8px;
  transform: scale(1.06);
  transition: box-shadow 0.1s ease-in-out 0s, transform 0.1s ease-in-out 0s;
}
/* -------------metodo entrega------------ */

.container_tipo_entrega{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: .5rem;
}

