.container_categorias{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  background-color: white;
  overflow: auto;
  z-index: 100;
  top: 58px;
  box-shadow: rgb(150 150 150) 0px 9px 11px -10px
}